<include file="common/header"/>
  <div id="main">
    <div class="wrapper">
      <div class="w-fly-mr">
        <div class="w-fly-cnt">
          <div class="position"><a href="/">Home</a> <i>|</i> <strong>About Us</strong></div>
          <section>
            <p>ISweek is the industry sourcing and direct marketing platform launched by OFweek, Chinese high-tech web portal. ISweek has gathered abundant high-quality industrial products around the world, and is dedicated to providing one-stop product distribution and procurement services for buyers, suppliers, traders, and manufacturers of industrial technology products.</p>
            <p>OFweek is a comprehensive web portal in Chinese high-tech industry with over 2 million members across various fields; its information covers a wide range of high-tech fields, including lighting, LED, solar PV, optical communication, laser, optics, display, electronics engineering, industrial control, robot, smart grid, instrument and meter, sensor, energy conservation and environmental protection, wind power, power supply, lithium battery, electric power, telecommunication, Internet of Things (IOT), cloud computing, 3D printing, smart home, wearable device, new energy vehicle, and medical technology, etc. OFweek can provide advertisement, data, activity, conference, webinar, domestic and foreign trade B2B, HR, industrial research report, industry consulting, investment and financing as well as other services; and it’s becoming the fastest growing industrial comprehensive e-commerce platform in China.</p>
            <p>Technology changes the world. ISweek and OFweek are always working together with those excellent partners, to become the most valuable partnership of our customers.</p>
          </section>

          <nav>
            <a href="http://www.isweek.cn" target="_blank" rel="nofollow"><img src="__ROOT__/statics/front/img/logo-isweekcn.png" alt=""></a>
            <a href="http://www.ofweek.com" target="_blank" rel="nofollow"><img src="__ROOT__/statics/front/img/logo-ofweek.png" alt=""></a>
            <!--
            <a href="http://en.ofweek.com" target="_blank" rel="nofollow"><img src="__ROOT__/statics/front/img/logo-ofweekb2b.png" alt=""></a>
            -->
            <a href="http://www.caikeji.com" target="_blank" rel="nofollow"><img src="__ROOT__/statics/front/img/logo-caikeji.png" alt=""></a>
            <a href="http://www.jobht.com" target="_blank" rel="nofollow"><img src="__ROOT__/statics/front/img/logo-jobht.png" alt=""></a>
          </nav>
        </div>
      </div>
      <include file="common/sidebar"/>
    </div>
  </div>
<include file="common/footer"/>