<aside class="w-fly-l">
  <div id="sidebar">
    <ul class="catlist catlist-search">
      <li class="catlist-item unfold">
        <a class="link trigger" href="javascript:;">Categories <span class="arrow arrow-down"></span></a>
        <dl class="sublist">
          <dt class="cattitle"><a href="#">Computers & Networking</a> <span class="count">(83,888)</span></dt>
          <dt>LED builb lights <span class="count">(83,888)</span></dt>
          <dd>
            <ul>
              <li><a href="#">LED build Lights</a> <span class="count">(83,888)</span></li>
              <li><a href="#">Antennas Eval Boards Eval Boards</a> <span class="count">(83,888)</span></li>
              <li><a href="#">Eval Boards</a> <span class="count">(83,888)</span></li>
              <li><a href="#">Modules</a> <span class="count">(83,888)</span></li>
              <li><a href="#">LCDs</a> <span class="count">(83,888)</span></li>
            </ul>
          </dd>
          <dt>IOS Eval Boards Eval Boards <span class="count">(83,888)</span></dt>
          <dd>
            <ul>
              <li><a href="#">iPhone</a> <span class="count">(83,888)</span></li>
              <li><a href="#">iPod</a> <span class="count">(83,888)</span></li>
              <li><a href="#">iPad</a> <span class="count">(83,888)</span></li>
              <li><a href="#">iMac</a> <span class="count">(83,888)</span></li>
              <li><a href="#">iBook</a> <span class="count">(83,888)</span></li>
            </ul>
          </dd>
          <dt>AVR <span class="count">(83,888)</span></dt>
          <dd>
            <ul>
              <li><a href="#">iPhone</a> <span class="count">(83,888)</span></li>
              <li><a href="#">iPod</a> <span class="count">(83,888)</span></li>
              <li><a href="#">iPad</a> <span class="count">(83,888)</span></li>
              <li><a href="#">iMac</a> <span class="count">(83,888)</span></li>
              <li><a href="#">iBook</a> <span class="count">(83,888)</span></li>
            </ul>
          </dd>
          <dt>Javascript <span class="count">(83,888)</span></dt>
          <dd>
            <ul>
              <li><a href="#">iPhone</a> <span class="count">(83,888)</span></li>
              <li><a href="#">iPod</a> <span class="count">(83,888)</span></li>
              <li><a href="#">iPad</a> <span class="count">(83,888)</span></li>
              <li><a href="#">iMac</a> <span class="count">(83,888)</span></li>
              <li><a href="#">iBook</a> <span class="count">(83,888)</span></li>
            </ul>
          </dd>
          <dt>Web <span class="count">(83,888)</span></dt>
          <dd>
            <ul>
              <li><a href="#">css</a> <span class="count">(83,888)</span></li>
              <li><a href="#">js</a> <span class="count">(83,888)</span></li>
              <li><a href="#">html</a> <span class="count">(83,888)</span></li>
            </ul>
          </dd>
        </dl>
      </li>
      <li class="catlist-item catlist-item-link">
        <a href="#">Tablet PC</a> <span class="count">(56,494)</span>
      </li>
      <li class="catlist-item catlist-item-link">
        <a href="#">Cell Phones & Accessories</a> <span class="count">(5,656,789)</span>
      </li>
      <li class="catlist-item catlist-item-link">
        <a href="#">Tablet</a> <span class="count">(56,494)</span>
      </li>
      <li class="catlist-item catlist-item-link">
        <a href="#">Musical Instruments</a> <span class="count">(1,494)</span>
      </li>
      <li class="catlist-item catlist-item-link">
        <a href="#">Electronic Components</a> <span class="count">(3,494)</span>
      </li>
      <li class="catlist-item catlist-item-link">
        <a href="#">Automobiles & Motyle PC</a> <span class="count">(564)</span>
      </li>
    </ul>
  </div>
</aside>
