<include file="common/header"/>
  <div id="main">
    <div class="wrapper">
      <div class="w-fly-mr">
        <div class="w-fly-cnt">
          <div class="position"><a href="/">Home</a> <i>|</i> <strong>Contact Us</strong></div>

          <section>
            <h3>Online Support</h3>
            <div id="online-support"></div>
          </section>

          <section>
            <h3>Shenzhen:</h3>
            <ul>
              <li class="address">Add: 16 Floor, Building #3, Zhongke Mansion, Gaoxin South 1st Rd, Hi-Tech Park, Nanshan, Shenzhen, Guangdong, 518067 P.R.China</li>
              <li class="tel">Tel: + 86-755-83289051/83289035/83289036</li>
              <li class="fax">Fax: + 86-755-83289053</li>
              <li class="email"><a href="mailto:sales@isweek.com" target="_blank" rel="nofollow">sales@isweek.com</a></li>
            </ul>
          </section>

          <section>
            <h3>Hongkong:</h3>
            <ul>
              <li class="address">Add: Unit 1502, Hollywood Plaza,610 Nathan Road, Mong Kok, Kln., Hong Kong</li>
              <li class="tel">Tel: 852-27370903</li>
              <li class="fax">Fax: + 86-755-83289053</li>
              <li class="email"><a href="mailto:sales@isweek.com" target="_blank" rel="nofollow">sales@isweek.com</a></li>
            </ul>
          </section>

          <section>
            <h3>For becoming our supplier:</h3>
            <ul>
              <li class="email"><a href="mailto:supplier@isweek.com" target="_blank" rel="nofollow">supplier@isweek.com</a></li>
            </ul>

            <!-- Comm100 Live Chat Button Code -->
            <!-- <div class="live-chat fn-hide"><a href="#" target="_blank" onclick="comm100_10001561.openChatWindow(event,2534,-1);return false;"><img style="border:0px" id="comm100_ButtonImage" src="https://solution.comm100.cn/livechatserver/BBS.aspx?siteId=10001561&amp;planId=2534&amp;partnerId=-1"></a><script src="https://solution.comm100.cn/livechatserver/js/LiveChat.js?siteId=10001561&amp;planId=2534&amp;partnerId=-1" type="text/javascript"></script></div> -->
            <!-- /Comm100 Live Chat Button Code -->
          </section>

          <section>
            <h3>Our Location:</h3>
            <p><a href="https://mapsengine.google.com/map/embed?mid=zDWVoRFNUaBE.kRUHfWp5VCxU" target="_blank" rel="nofollow"><img src="__ROOT__/statics/front/img/map.jpg" alt="map"></a></p>
          </section>
        </div>
      </div>
      <include file="common/sidebar"/>
    </div>
  </div>
<include file="common/footer"/>