<include file="common/header"/>
  <div id="main">
    <div class="wrapper">
      <div class="content">
        <div class="position"><a href="/">Home</a> <i>|</i> <span class="highlight">Terms and Conditions</span></div>
        <article>
          <h1>Terms and Conditions</h1>
          <section>
            <h2>Customer Service</h2>
            <p>Welcome to Isweek. Our policy is to provide you excellent customer service. Our experienced and dedicated customer service/sales representatives have been providing great support to our customers before, during and after the sale. You can contact us online, by phone, via fax, or in person at the ISweek.com office. No matter which method you choose, you will find our ISweek.com customer service rep highly trained, knowledgeable, professional and courteous. Your satisfaction is our number 1 priority. Our customer service / sales rep have years of experience and will help expedite any transaction.</p>
          </section>
          <section>
            <h2>Privacy Policy</h2>
            <h5>What information do we collect?</h5>
            <p>We collect information while you order, register or subscribe to our website. It includes name, e-mail address, mailing address, phone number or credit card information. We do not disclose your personal information. However, in some cases we have to disclose it to comply with the laws and regulations.</p>
            <h5>How do we protect your information?</h5>
            <p>We implement many security measures to keep your personal and critical information in private. Information collected is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our Database. It is accessed only by those who are authorized with special access rights to our systems. The information is automatically deleted after 10 days of order placement.</p>
            <h5>Cookies</h5>
            <p>We do use cookies to remember your order status, items in your cart and also to suggest you personalized preferences for future visits.</p>
            <h5>Information Disclosure</h5>
            <p>We do not release any sort of personal information to third party. Third party does not include our trusted partners and teams. Information is disclosed only to comply with the law, enforce our site policies or protect ours or others rights, property, or safety.</p>
            <h5>Implementation and Change to our Privacy Policy</h5>
            <p>Our online privacy policy applies to the information provided online only. It does not apply to offline information. You agree to our terms bus using our site and if we decide to change any policy we will post it on the changes page.</p>
            <h5>Receiving Your Order</h5>
            <p>
              When you receive your order, please check it for the following:
              <br />Carefully inspect its contents and condition for any damages. All claims for damaged or missing items must be reported to ISweek.com with two (2) business days of receipt of merchandise. In the event your package arrives damaged, it is the responsibility of the customer to contact the carrier to inspect the package to assure full refund/replacement. All packaging must be retained until the problem has been resolved.
            </p>
            <p>Carefully unpack and inspect all merchandise. Please do not damage the manufacturer's packaging. Do not fill out the manufacturer's warranty cards until you are absolutely sure you want to keep your merchandise. We cannot accept merchandise for return with completed warranty cards of damaged or missing collateral material. Do not throw away any of the packaging materials such as boxes, instructions, inserts, bags, etc until you are completely sure you want to keep the equipment.</p>
            <ul>
              <li>Keep your Invoice with your important records.</li>
              <li>Read all instruction manuals before testing your equipment.</li>
              <li>ISweek will not be responsible for any consequential or incidental damage resulting from the sale or use of any merchandise bought from us. Our sole responsibility will only be the monetary value of the merchandise.</li>
            </ul>
          </section>
          <section>
            <h2>Shipping Policy</h2>
            <p>Shipping varies on every item but we try to charge the exact shipping prices. Contact us if you want your order to deliver overnight, 2nd day or if you have any priority shipping. We reserve the right to ship by any courier service due to shipping availability of an item; handling charge will apply for special consular certification and export documentation.</p>
            <p>There are some warranty issues and manufacturer restrictions which prevent us from shipping some products to all geographical locations, and there are some products which are too big to ship to a P.O. Box there should be a street address to get them shipped.</p>
            <p>We only ship on standard business days. Example: You order is placed overnight delivery on Saturday, your package will ship on Monday and you will receive it on Tuesday.</p>
            <p>If you live in an area experiencing an unexpected service delay (severe weather, natural disasters, unscheduled events, etc.) please add at least 2 to 3 business days to the estimated delivery date of your order.</p>
            <p>Shipping is subject to availability. We are not responsible for delays or shipping errors caused by the selected shipping company.</p>
          </section>
          <section>
            <h2>Return Request</h2>
            <h5>30 Days Returns Policy</h5>
            <p>You may return the new and unopened items, purchased from ISweek within 30 days of delivery. It will be fully refunded. The item should be in original packaging and new condition. If the return is due to our error, the shipping will also be refunded. To return the item, fill out our return form and we’ll guide throughout the process.</p>
            <h5>Important:</h5>
            <ul>
              <li>Any return that is not the result of our error will be subject to a return shipping fee which will be deducted from the refund.</li>
              <li>Some items may have special return policies, please call your sales team to get more information.</li>
              <li>You may receive your refunded sooner than mentioned depending on the product which is returned.</li>
            </ul>
            <h5>Non-Refundable Items</h5>
            <ul>
              <li>Items received after 30 days of delivery.</li>
              <li>Damaged item or missing part which is not due to our error.</li>
              <li>Items which are not in original condition or packaging.</li>
              <li>Product with missing UPS or serial number.</li>
              <li>Items purchased from other sellers than ISweek.</li>
            </ul>
          </section>
          <section>
            <h2>Receiving a Refund</h2>
            <p>For the items directed to our warehouse, expect a refund with 2 weeks of return. If the item is returned to manufacturer directly, the refund will be issued within 1 week of receiving the refund from the manufacturer.</p>
          </section>
          <section>
            <h2>Exchanges</h2>
            <p>If you wish to replace a product, you purchased from ISweek in case of fault, fill out our online Return Form to request a replacement. If you want to exchange a product for a different product, return the product and place another order for the new item. The returned item will be refunded. You may not wait to receive the original item before you place the new order.</p>
          </section>
          <section>
            <h2>Large Items Shipped By Freight Carriers</h2>
            <p>We also accept return of large items which require special shipping type or return method. If you wish to return a product with special shipping, please fill the return request form and request the return.</p>
            <h5>Warranties</h5>
            <p>All items available in ISweek.com are covered by a manufacturer's warranty. Please read the manufacture warranty details before requesting any service. Once the manufacturer's warranty period has expired, calls for service or repairs should be referred directly to the manufacturer or their authorized service centers.</p>
          </section>
        </article>
      </div>
    </div>
  </div>
<include file="common/footer"/>