<include file="common/header"/>
  <div id="main">
    <div class="wrapper">
      <div class="w-fly-mr">
        <div class="w-fly-cnt">

        <div class="position"><a href="/">Home</a>
        <?php $left_curr_term_ids=array();
			foreach($term_ids as $id){
				foreach($dao_hang_categorys as $vo){
					if($id==$vo['term_id']){
						if($id != $curr_term_id){
							$left_curr_term_ids[] = $id;
							$url = rw_category_url($vo['name'],$vo['term_id']);
							echo '<i>|</i> <a href="'.$url.'">'.$vo['name'].'</a>';
						}else{
							echo '<i>|</i> <span class="highlight">Terms and Conditions</span>';
						}
					}
				}
			}
		?></div>

          <aside class="aside">
            <div class="w-box w-box-contact">
              <div class="w-box-hd">
                <h2 class="title">Contact ISweek</h2>
              </div>
              <div class="w-box-bd">
                <ul>
                  <li><a class="skype" href="skype:ISweek_daisychen?call" target="_blank" rel="nofollow">Skype</a></li>
				  <li><span class="tel">+86-755-83289036<br>+852-27370903</span></li>
<!--
                  <li><a class="online" href="#" target="_blank" rel="nofollow">Online Support</a></li>
                  <li><a class="msn" href="#" target="_blank" rel="nofollow">MSN</a></li>

-->
                  <li><a class="email" href="mailto:sales@isweek.com" target="_blank" rel="nofollow">sales@isweek.com</a></li>
                </ul>
              </div>
            </div>
            <if condition="!empty($recommend_products)">
			<div class="w-box w-box-popular">
              <div class="w-box-hd">
                <h2 class="title">Popular on ISweek</h2>
              </div>
              <div class="w-box-bd">
                <ul>
				  <volist name="popular_products" id="vo">
					<li>
					  <a class="img" href="{:rw_product_url($vo['product_name'],$vo['serial_no'],$vo['id'])}" target="_blank"><img src="{$vo.thumb_200}" alt="{$vo.product_name}" width="100" height="100" /></a>
					  <h5 class="name"><a href="{:rw_product_url($vo['product_name'],$vo['serial_no'],$vo['id'])}" target="_blank">{$vo.product_name}</a></h5>
					</li>
				  </volist>
                </ul>
              </div>
            </div>
		    </if>
          </aside>

          <div class="prodetails">
            <h1 class="protitle">{$item.product_name} - {$item.serial_no}</h1>
            <div class="proimg" id="js-proimg">
              <div class="info">
                <p>{$item.features}</p>
                <ul>
                  <li>Model Number: {$item.serial_no}</li>
                  <?php if(!empty($item['attachment'])){ ?>
                  <li>Data Sheet: <a href="{$item.attachment}" target="_blank"><img src="__ROOT__/statics/front/img/icon-pdf.png" alt="Date Sheet File" /></a></li>
                  <?php } ?>
                </ul>
              </div>
              <div class="preview">
                <ul class="imgs">
                  <?php foreach($item['images'] as $k=>$vo){ ?>
                  <?php if($k==0){ ?>
                  <li><a class="jqzoom"><img class="lazy" src="{$vo.thumb_300}" data-src="{$vo.url}" alt="{$item.product_name}" width="300" height="300" /></a></li>
                  <?php }else{ ?>
              	  <li class="fn-hide"><a class="jqzoom"><img class="lazy" src="{$vo.thumb_300}" data-src="{$vo.url}" alt="{$item.product_name}" width="300" height="300" /></a></li>
                  <?php } } ?>
                </ul>
                <div class="tips">Mouse over image to zoom</div>
              </div>
              <ul class="thumbs">
              <?php foreach($item['images'] as $vo){ ?>
              <li><img class="lazy" src="{$vo.thumb_100}" /></li>
              <?php } ?>
              </ul>
              <div id="js-share" class="share">
                <span>Share:</span>
                <a class="twitter" rel="twitter" title="Connect with us on twitter"></a>
                <a class="facebook" rel="facebook" title="Connect with us on facebook"></a>
                <a class="googleplus" rel="googleplus" title="Connect with us on Google Plus"></a>
              </div>
            </div>
            <div class="prodesc">
              <h3 class="title">Product Specification</h3>
              <p>{$item.description}</p>
            </div>
          </div>

          <div class="box-sourcing-service">
            <p>If you cannot find what you want, you can entrust ISweek to source for you. Just click:</p>
            <a href="/SourcingService.html">Sourcing Service</a>
          </div>

		  <if condition="!empty($recommend_products)">
          <div class="w-prolist fn-cb">
            <div class="w-prolist-hd">
              <h2 class="title">Recommended Products</h2>
            </div>
            <div class="w-prolist-bd">
              <ul class="clearfix">
			  <!-- -->
			  <volist name="recommend_products" id="vo">
                <li>
                  <a class="img" href="{:rw_product_url($vo['product_name'],$vo['serial_no'],$vo['id'])}" target="_blank"><img src="{$vo.thumb_100}" alt="{$vo.product_name}" width="100" height="100" /></a>
                  <h5 class="name"><a href="{:rw_product_url($vo['product_name'],$vo['serial_no'],$vo['id'])}" target="_blank">{$vo.product_name}</a></h5>
                </li>
			  </volist>
			  <!-- end -->
              </ul>
            </div>
          </div>
		</if>
        </div>
      </div>
      <include file="common/sidebar"/>
    </div>
  </div>
<include file="common/footer"/>